html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: #333d49;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  color: #eee;
}
/* very important */
*,
a,
input,
button,
img,
select,
a:focus,
input:focus,
button:focus,
img:focus,
select:focus {
  outline: none !important;
  letter-spacing: 0.3px;
  word-spacing: 2px;
}
a,
input,
button,
select {
  -webkit-app-region: no-drag;
}
hr {
  color: #777;
  background-color: #777;
}
[role="tabpanel"] {
  display: none;
}
[role="tabpanel"].active {
  display: block;
}
.main-window-region {
  height: 100%;
  -webkit-user-select: none;
}
.titlebar {
  background-color: #2a343d;
  z-index: 700;
}
.titlebar .title {
  color: white;
  font-weight: 400;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  padding-right: 66px;
  letter-spacing: 0.8px;
  font-size: 13px;
}
.titlebar button.add-folder {
  float: right;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 11px;
  border-radius: 2px;
  background-color: #636B7C;
  border-color: #636B7C;
  -webkit-app-region: no-drag;
  z-index: 701;
}
.titlebar-stoplight {
  position: relative;
  left: 4px;
}
.titlebar-close,
.titlebar-minimize,
.titlebar-fullscreen {
  margin-top: 14px;
  margin-bottom: 14px;
}
#header {
  background-color: #2a343d;
  -webkit-app-region: drag;
  box-shadow: 0 5px 6px #212930;
  position: relative;
  z-index: 2;
}
.tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.tabs-list li {
  display: inline-block;
}
.tabs-list li > a {
  -webkit-app-region: no-drag;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 6px;
  border-bottom: 3px solid transparent;
  color: #cecece;
  text-decoration: none;
  transition: all 0.2s;
}
.tabs-list li > a:hover,
.tabs-list li > a[aria-expanded=true] {
  cursor: pointer;
  color: #fff;
  border-color: #879aac;
}
.tabs-list li > a[aria-expanded=true] {
  border-color: #fff;
}
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 30px;
}
.grid-container {
  height: 100%;
  position: fixed;
  top: 69px;
  left: 0;
  text-align: center;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 69px;
}
.grid-container::-webkit-scrollbar {
  width: 5px;
}
.grid-container::-webkit-scrollbar-track {
  background-color: #30333c;
  -webkit-border-radius: 0;
}
.grid-container::-webkit-scrollbar-thumb {
  background-color: #65747C;
  -webkit-border-radius: 2px;
}
.grid-container::-webkit-scrollbar-thumb:hover {
  background-color: #7e8e96;
}
.grid-container::-webkit-scrollbar-thumb:active {
  background-color: #a8b3b8;
}
.grid-container::-webkit-resizer,
.grid-container::-webkit-scrollbar-corner,
.grid-container::-webkit-scrollbar-button,
.grid-container::-webkit-scrollbar-track-piece {
  display: none;
}
.grid-container::-webkit-scrollbar-track {
  margin-top: 0;
  margin-bottom: 70px;
}
ul.video-grid {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  padding: 5px 8px;
  margin: 0;
  margin-left: -6px;
  margin-right: -6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
}
ul.video-grid li.film-row {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 150px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 6px;
  margin-left: 6px;
}
ul.video-grid li.film-row .poster {
  width: 150px;
  height: 222.5px;
  border-radius: 4px;
  background-color: #3A4956;
  border: 2px solid #333d49;
  overflow: hidden;
  margin-bottom: 5px;
  display: block;
  cursor: pointer;
}
ul.video-grid li.film-row .poster:hover {
  border-color: #ddd;
}
ul.video-grid li.film-row .poster img {
  max-width: 150px;
  -webkit-user-drag: none;
}
ul.video-grid li.film-row .title {
  display: block;
  width: 100%;
  color: #fff;
}
